body {
  margin: 0;
}
#root {
  display: grid;
  overflow-y: hidden;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 9fr;

  .featureBar {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: lightgray;
    .title {
      grid-column: 1/5;
      background-color: darkgray;
    }
    .features {
      grid-column: 5/13;
    }
  }

  .algorithmDescriptions {
    grid-column: 1/5;
    background-color: gray;
  }

  .animation {
    display: grid;
    grid-column: 5/13;
    align-items: bottom;
    grid-template-rows: 1fr 9fr;
    .bars {
      background-color: black;
      display: grid;
      align-items: center;
      justify-items: center;

      .alignBottom {
        grid-column: 1/13;

        border-bottom: orange;
        border-style: solid;
        border-width: 5px;
      }
      #selected {
        background-color: green;
      }
    }

    .data {
      background-color: orange;
    }
  }
}

@media screen and (max-width: 768px) {
  #root {
    grid-template-rows: 2fr 6fr 2fr;
    overflow-y: visible;
    .featureBar,
    .algorithmDescriptions,
    .animation {
      grid-column: 1/13;
    }

    .featureBar {
      .title,
      .features {
        grid-column: 1/13;
      }
    }
    .algorithmDescriptions {
      grid-row: 3;
    }
  }
}
