body {
  margin: 0;
}

#root {
  display: -ms-grid;
  display: grid;
  overflow-y: hidden;
  height: 100vh;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
}

#root .featureBar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(197, 180, 180, 0.301)));
  background-image: linear-gradient(to top, black, rgba(197, 180, 180, 0.301));
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#root .featureBar .title {
  vertical-align: middle;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
}

#root .featureBar .title h1 {
  font-size: 2.5em;
}

#root .featureBar .features {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
  padding-top: 1em;
}

#root .featureBar .features .feature {
  margin: 1em;
  font-size: 1em;
}

#root .featureBar .features button {
  border-radius: 1em;
  outline: none;
  width: 100px;
}

#root .featureBar .features button:hover {
  background-color: #66db66;
}

#root .featureBar .features #sort {
  width: 150px;
  font-size: 1.5em;
}

#root .algorithmDescriptions {
  color: white;
  padding-left: 1em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  background-color: gray;
  background-image: -webkit-gradient(linear, right top, left bottom, from(black), to(rgba(77, 73, 73, 0.301)));
  background-image: linear-gradient(to bottom left, black, rgba(77, 73, 73, 0.301));
}

#root .animation {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
  background-image: -webkit-gradient(linear, left top, right bottom, from(black), to(rgba(77, 73, 73, 0.301)));
  background-image: linear-gradient(to bottom right, black, rgba(77, 73, 73, 0.301));
}

#root .animation .bars {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#root .animation .bars .alignBottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  border-bottom: solid;
  border-width: 5px;
  border-color: white;
}

#root .animation .bars #selected {
  background-color: #96d196;
}

#root .animation .data {
  color: white;
  padding-left: 1em;
}

@media screen and (max-width: 768px) {
  #root {
    -ms-grid-rows: 2fr 6fr 2fr;
        grid-template-rows: 2fr 6fr 2fr;
    overflow-y: visible;
  }
  #root .featureBar,
  #root .algorithmDescriptions,
  #root .animation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  #root .featureBar .title,
  #root .featureBar .features {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  #root .algorithmDescriptions {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}
/*# sourceMappingURL=styles.css.map */