body {
  margin: 0;
}
#root {
  display: grid;
  overflow-y: hidden;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 9fr;

  .featureBar {
    grid-column: 1/13;
    color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-image: linear-gradient(
      to top,
      black,
      rgba(197, 180, 180, 0.301)
    );
    text-align: center;
    align-content: center;
    .title {
      vertical-align: middle;
      grid-column: 1/5;
      align-content: center;
      display: grid;
      h1 {
        font-size: 2.5em;
      }
    }
    .features {
      grid-column: 5/13;
      padding-top: 1em;
      .feature {
        margin: 1em;
        font-size: 1em;
      }
      button {
        border-radius: 1em;
        outline: none;
        width: 100px;
      }
      button:hover {
        background-color: rgb(102, 219, 102);
      }
      #sort {
        width: 150px;
        font-size: 1.5em;
      }
    }
  }

  .algorithmDescriptions {
    color: white;
    padding-left: 1em;
    grid-column: 1/5;
    background-color: gray;
    background-image: linear-gradient(
      to bottom left,
      black,
      rgba(77, 73, 73, 0.301)
    );
  }

  .animation {
    display: grid;
    grid-column: 5/13;
    align-items: bottom;
    grid-template-rows: 1fr 9fr;
    background-image: linear-gradient(
      to bottom right,
      black,
      rgba(77, 73, 73, 0.301)
    );
    .bars {
      display: grid;
      align-items: center;
      justify-items: center;

      .alignBottom {
        grid-column: 1/13;
        border-bottom: solid;
        border-width: 5px;
        border-color: white;
      }
      #selected {
        background-color: rgb(150, 209, 150);
      }
    }

    .data {
      color: white;
      padding-left: 1em;
    }
  }
}

@media screen and (max-width: 768px) {
  #root {
    grid-template-rows: 2fr 6fr 2fr;
    overflow-y: visible;
    .featureBar,
    .algorithmDescriptions,
    .animation {
      grid-column: 1/13;
    }

    .featureBar {
      .title,
      .features {
        grid-column: 1/13;
      }
    }
    .algorithmDescriptions {
      grid-row: 3;
    }
  }
}
