body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #56ce56;
  border-radius: 5px;
}

#root {
  display: -ms-grid;
  display: grid;
  overflow-y: hidden;
  height: 100vh;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
}

#root .featureBar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  padding-top: 1em;
  padding-bottom: 1.5em;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  border-bottom: solid;
  border-color: #eb3333;
  border-width: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#252323), color-stop(rgba(70, 67, 67, 0.267)), to(#252323));
  background-image: linear-gradient(to top, #252323, rgba(70, 67, 67, 0.267), #252323);
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#root .featureBar div {
  display: inline-block;
}

#root .featureBar .title {
  vertical-align: middle;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
}

#root .featureBar .title h1 {
  font-size: 3.5em;
}

#root .featureBar .features {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
  padding-top: 1em;
  font-size: 1.25em;
}

#root .featureBar .features .feature {
  font-size: 1.25em;
  margin: 1em;
  margin-right: 4em;
}

#root .featureBar .features label {
  font-weight: bold;
}

#root .featureBar .features button {
  font-weight: bold;
  border-radius: 1em;
  outline: none;
  width: 150px;
}

#root .featureBar .features button:hover {
  background-color: #66db66;
  font-style: italic;
}

#root .algorithmDescriptions {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  overflow-y: auto;
  background-color: gray;
  background-image: -webkit-gradient(linear, right top, left bottom, from(black), to(rgba(77, 73, 73, 0.301)));
  background-image: linear-gradient(to bottom left, black, rgba(77, 73, 73, 0.301));
}

#root .algorithmDescriptions div {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
}

#root .algorithmDescriptions .pros {
  color: #4bca4b;
}

#root .algorithmDescriptions .cons {
  color: #eb3333;
}

#root .algorithmDescriptions .table table {
  text-align: center;
}

#root .algorithmDescriptions .table table th {
  padding-left: 0.5em;
  font-weight: normal;
}

#root .animation {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
  border-left: solid;
  border-width: 5px;
  border-color: #da4a4a;
  background-image: -webkit-gradient(linear, left top, right bottom, from(black), to(rgba(77, 73, 73, 0.301)));
  background-image: linear-gradient(to bottom right, black, rgba(77, 73, 73, 0.301));
}

#root .animation .bars {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#root .animation .bars .alignBottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  border-bottom: solid;
  border-width: 5px;
  border-color: white;
}

#root .animation .bars #selected {
  background-color: #96d196;
}

#root .animation .data {
  color: white;
  padding-left: 1em;
}

@media screen and (max-width: 1300px) {
  #root .featureBar .title h1 {
    font-size: 2.5em;
  }
  #root .featureBar .features .feature {
    font-size: 1em;
    margin-right: 1em;
  }
  #root .featureBar .features button {
    width: 125px;
  }
  #root .algorithmDescriptions div {
    margin-right: 1em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 900px) {
  #root {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    overflow-y: scroll;
  }
  #root .featureBar,
  #root .algorithmDescriptions,
  #root .animation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  #root .featureBar .title,
  #root .featureBar .features {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  #root .algorithmDescriptions {
    -ms-grid-row: 3;
    grid-row: 3;
    overflow-y: visible;
  }
  #root .algorithmDescriptions div {
    margin-left: 1em;
    margin-right: 1em;
  }
  #root .animation {
    border-left: none;
    border-bottom: solid;
    border-color: red;
    border-width: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */